* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

.max-width-wrapper {
    padding: 64px 0;
}

header {
    border-bottom: 8px solid #999999;

    .intro-chunk {
        margin: 0 auto;
        max-width: 800px;
        padding: 0 32px;

        .title {
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.2;
            margin-bottom: 32px;
        }

        p {
            font-size: 1.25rem;
            line-height: 1.5;
            margin: 16px 0;

            strong {
                color: #009966;
                font-weight: 800;
            }
        }
    }
}

main {
    background-color: #666666;
}

.card {
    margin: 0 auto;
    border-bottom: 8px solid #999999;
    max-width: 800px;
    background-color: #fff;
    padding: 8px 32px;

    .indented-heading {
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 1.2;
        background-color: #FFBF00;
        border-bottom: 8px solid #CC9900;
        width: fit-content;
        padding: 16px 32px 16px 40px;
        margin: 0;
        margin-left: -40px;
    }

    p {
        font-size: 1.25rem;
        line-height: 1.5;
        font-weight: 500;
        margin: 16px 0;
    }
}